<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">


<img src="../../assets/img/ImageLogo.png" id="logo-site">
<ion-content class="swiper-no-swiping">  
  
  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        
        <!-- <h1>Entre no Streamtube</h1> -->

        <ion-item class ="ion-margin-top" lines ="none">
          <ion-input class="input-auth" value="" type="email" placeholder="E-mail" [(ngModel)] = "userLogin.email"></ion-input>
        </ion-item>

        <ion-item class ="ion-margin-top" lines ="none">
          <ion-input class="input-auth" value="" type="password" placeholder="Senha" [(ngModel)] = "userLogin.password"></ion-input>
        </ion-item>

        <ion-button class ="ion-margin-top" (click)="login()" color="danger" expand="block">
          Entrar
        </ion-button>
      </div>

      <a (click)="segmentChanged('register')" 
      style='
      position: relative;

      cursor: pointer;

      font-family: Nunito;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 41px;
      display: flex;
      align-items: center;
      text-align: center;
      
      color: #FF6B6B;'
      
      >Crie uma conta</a>

    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">

        <!-- <h1>Cadastre-se</h1> -->
        
        <ion-item class ="ion-margin-top" lines="none">
          <ion-input class="input-auth" value="" type ="text" placeholder="Nome" [(ngModel)] = "userRegister.name"></ion-input>
        </ion-item>

        <ion-item class ="ion-margin-top" lines ="none">
          <ion-input class="input-auth" value="" type="email" placeholder="E-mail" [(ngModel)] = "userRegister.email"></ion-input>
        </ion-item>

        <ion-item class ="ion-margin-top" lines ="none">
          <ion-input class="input-auth" value="" type="password" placeholder="Senha" [(ngModel)] = "userRegister.password"></ion-input>
        </ion-item>

        <ion-button class ="ion-margin-top" (click) ="register()" color ="danger" expand ="block">
          Criar Conta
        </ion-button>

      </div>

      <a (click)="segmentChanged('login')" 
        style='
        position: relative;

        cursor: pointer;
  
        font-family: Nunito;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 41px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #FF6B6B;'
        
        >Em vez disso, entrar no site</a>

      </ion-slide>
  </ion-slides>

</ion-content>
