<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">


<ion-content class="swiper-no-swiping">

  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">

        <h1>ENTRE PARA<br>ACESSAR O SITE.</h1>

        <ion-item class ="ion-margin-top" lines ="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)] = "userLogin.email"></ion-input>
        </ion-item>

        <ion-item class ="ion-margin-top" lines ="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)] = "userLogin.password"></ion-input>
        </ion-item>

        <ion-button class ="ion-margin-top" (click)="login()" color="danger" expand="block">
          Entrar
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">

        <h1>CADASTRE-SE PARA<br>ACESSAR O SITE.</h1>
        
        <ion-item class ="ion-margin-top" lines="none">
          <ion-input type ="text" placeholder="Nome" [(ngModel)] = "userRegister.name"></ion-input>
        </ion-item>

        <ion-item class ="ion-margin-top" lines ="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)] = "userRegister.email"></ion-input>
        </ion-item>

        <ion-item class ="ion-margin-top" lines ="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)] = "userRegister.password"></ion-input>
        </ion-item>

        <ion-button class ="ion-margin-top" (click) ="register()" color ="danger" expand ="block">
          Cadastrar
        </ion-button>
      </div>
      </ion-slide>
  </ion-slides>

  <div class="container top">
    
    <ion-header [translucent]="true">
      
      <ion-toolbar color="danger">
          
      <ion-segment 
      value="all" 
      color="tertiary" 
      scrollable="false"
      mode="desktop"
      (ionChange)="segmentChanged($event)">
  
        <ion-segment-button value="login">
          <ion-label>Crie uma conta</ion-label>
        </ion-segment-button>
  
        <ion-segment-button value="register">
          <ion-label>Em vez disso, entrar no site.</ion-label>
        </ion-segment-button>
  
      </ion-segment>
      
    </ion-toolbar>
  </ion-header>

  </div>

</ion-content>
