<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stream
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <div id="stream">
      <!-- aqui vai ser o video -->
      <iframe id="video" [src]="currentVideo" allow="autoplay;" allowfullscreen></iframe>
      
      <!-- aqui vai ser o input do usuario -->
      <ion-list>
        <ion-item> 
          <ion-label stacked>URL do video:</ion-label>
          <!-- aqui vai o link do video, input do usuario -->
          <ion-input type="text" [(ngModel)]="inputVideo" text-right id="input" placeholder="Exemplo: https://www.youtube.com/watch?v=5qap5aO4i9A"></ion-input> 
          <!-- aqui e o botao que chama o metodo e add o video -->
          <ion-button type="submit" (click)="addVideo()" id="btn">Adicionar na playlist</ion-button> 
        </ion-item> 
      </ion-list>
    </div>

    <div id="chat"></div>

  </div>
</ion-content>