<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stream
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="">

    <div id="stream">
      <!-- aqui vai ser o input do usuario -->
      <ion-list>
        <ion-item> 
          <ion-label stacked>URL do video:</ion-label>
          <!-- aqui vai o link do video, input do usuario -->
          <ion-input type="text" [(ngModel)]="inputVideo" text-right id="input" placeholder="Exemplo: https://www.youtube.com/watch?v=5qap5aO4i9A"></ion-input> 
          <!-- muda pro video anterior -->
          <ion-button type="submit" (click)="previousVideo()" [disabled]="verifyArrayFirst()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
          <!-- muda pro proximo video -->
          <ion-button type="submit" (click)="nextVideo()" [disabled]="verifyArrayLast()"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button> 
          <!-- aqui e o botao que chama o metodo e add o video -->
          <ion-button type="submit" (click)="addVideo()" [disabled]="verifyLink()">Adicionar na playlist</ion-button> 
        </ion-item> 
        <!-- mostra so os links adicionados na playlist -->
        <!-- <ion-item><span>Adicionados na playlist: {{playlistYT | json}}</span></ion-item> -->
      </ion-list>

      <!-- aqui vai ser o video -->
      <iframe id="video" [src]="currentVideo" allow="autoplay;" allowfullscreen></iframe>
        
      <!-- a lista dos videos na playlist -->
      <p>Sua playlist:</p>
      <ion-list class="playlist-videos" *ngFor="let item of playlistYT"> <!-- vai pegar cada elemento da playlist e criar um novo item -->
        <ion-item>
          <ion-item (click)="playVideo(item)">{{item}}</ion-item> <!-- muda pro video selecionado -->
          <button [disabled]="verifyArray()" (click)="excludeVideo(item)"><ion-icon name="close-outline"></ion-icon></button> <!-- botao de excluir video -->
        </ion-item> 
      </ion-list>
    </div>
  </div>
</ion-content>