
  #video { //  tamanho da tela do video
    height: 100%;
    width: 100%;
  }

  .my-custom { // tamanho da largura do side menu
    --width: 80%;
  }

  #thumbs{ // tamanho das thumbs
    height: auto; 
    width: 40%;
  }


